
<div class="footer">
		
	<div class="container">
		
		<div class="row">
			
			<div id="footer-copyright" class="col-md-6">
				&copy; 2012-13 Jeremy Lancaster Consulting
			</div> <!-- /span6 -->
			
			<div id="footer-terms" class="col-md-6">
				<a href="http://www.jeremylancasterconsulting.com/">JLC - Jeremy Lancaster Consulting</a>
			</div> <!-- /.span6 -->
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /footer -->



    

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/libs/jquery-1.9.1.min.js"></script>
<script src="/js/libs/jquery-ui-1.10.0.custom.min.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>

<script src="/js/plugins/flot/jquery.flot.js"></script>
<script src="/js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/js/plugins/flot/jquery.flot.resize.js"></script>

<script src="/js/Application.js"></script>

<script src="/js/charts/area.js"></script>
<script src="/js/charts/donut.js"></script>

  </body>
</html>