<div class="box altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3>Company Details</h3>
		</div>
		<div class="content">
			<form action="/admin/updatecompany" class="basic">
				<div class="inner-form">
					<dl>
						<dt>
							<label class="col-md-4">Title</label>
						</dt>
						<dd>
							<input class="txt" type="text" name="title" value="<?php echo $clientConfig['title'];?>" />
						</dd>
						<dt>
							<label class="col-md-4">Hours</label>
						</dt>
						<dd>
							<input type="text" name="hours" value="<?php echo $clientConfig['hours'];?>" class="txt" />
						</dd>
						<dt>
							<label class="col-md-4">Company Name</label>
						</dt>
						<dd>
							<input type="text" name="company_name" value="<?php echo $clientConfig['company_name']; ?>" class="txt" />
						</dd>
						<dt>
							<label class="col-md-4">Address</label>
						</dt>
						<dd>
							<textarea name="address" class="txt" rows="3"><?php echo $clientConfig['address'];?></textarea>
						</dd>
						<dt>
							<label class="col-md-4">Phone Number</label>
						</dt>
						<dd>
							<input type="text" name="phone_number" value="<?php echo $clientConfig['phone_number']; ?>" class="txt" />
						</dd>
						<dt>
							<label class="col-md-4">Detailed Pick Up</label>
						</dt>
						<dd>
							<input type="text" name="detailed_pickup" value="<?php echo $clientConfig['detailed_pickup']; ?>" class="txt" />
						</dd>
						<dt>
							<label class="col-md-4">Detailed Drop Off</label>
						</dt>
						<dd>
							<input type="text" name="detailed_dropoff" value="<?php echo $clientConfig['detailed_dropoff']; ?>" class="txt" />
						</dd>
						<dt>
							<label class="col-md-4">Company Email</label>
						</dt>
						<dd>
							<input type="text" name="company_email" value="<?php echo $clientConfig['company_email']; ?>" class="txt" />
						</dd>
						<dt>
							<label class="col-md-4">Number of Runs</label>
						</dt>
						<dd>
							<input type="text" name="number_of_runs" value="<?php echo $clientConfig['number_of_runs']; ?>" class="txt" />
						</dd>
						<dt>
							<label class="col-md-4">Price Per Night</label>
						</dt>
						<dd>
						  <input type="text" class="txt" name="price_pernight" value="<?php echo $clientConfig['price_pernight']; ?>">
						</dd>

						<dt>
							<label class="col-md-4">Price Per Night Two Dogs</label>
						</dt>
						<dd>
						  <input type="text" class="txt" name="price_pernight_onerun" value="<?php echo $clientConfig['price_pernight_onerun']; ?>">
						</dd>

						<dt>
							<label class="col-md-4">Late Fee</label>
						</dt>
						<dd>
						  <input type="text" class="txt" name="price_latefee" value="<?php echo $clientConfig['price_latefee']; ?>">
						</dd>
						
						<dt>
							<label class="col-md-4">Facebook URL</label>
						</dt>
						<dd>
							<input type="text" name="facebook_url" value="<?php echo $clientConfig['facebook_url']; ?>" class="txt" />
						</dd>
						
						<dt></dt>
						<dd>
							<input type="submit" name="update_company" class="button" value="Update Company Details!"/>
						</dd>
					</dl>
				</div>
			</form>
		</div>
	</div>
</div> 
