<div class="main">

    <div class="container">

      <div class="row">

      	<div class="col-md-12">

      		<div class="widget stacked">

      			<div class="widget-header">
					<i class="icon-tasks"></i>
					<h3>Company Details</h3>
				</div> <!-- /.widget-header -->

				<div class="widget-content">

					<form action="/" role="form" class="form-horizontal col-md-7">


						<div class="form-group">
							<label class="col-md-4">Title</label>
							<div class="col-md-8">
								<input type="text" name="input1" value="Double Hydrant Bed N Biscuits, Mt. Pleasant, PA 15666" class="form-control" />
							</div>
						</div> <!-- /.form-group -->

						<div class="form-group">
							<label class="col-md-4">Hours</label>
							<div class="col-md-8">
								<input type="text" name="input1" value="Monday - Saturday: 9AM-4PM" class="form-control" />
							</div>
						</div> <!-- /.form-group -->

						<div class="form-group">
							<label class="col-md-4">Company Name</label>
							<div class="col-md-8">
								<input type="text" name="input1" value="Double Hydrant" class="form-control" />
							</div>
						</div> <!-- /.form-group -->

						<div class="form-group">
							<label class="col-md-4">Address</label>
							<div class="col-md-8">
								<textarea name="text1" class="form-control" rows="3">142 Airport Road, Mt. Pleasant, PA 15666</textarea>
							</div>
						</div> <!-- /.form-group -->

						<div class="form-group">
							<label class="col-md-4">Phone Number</label>
							<div class="col-md-8">
								<input type="text" name="input1" value="724-757-0855" class="form-control" />
							</div>
						</div> <!-- /.form-group -->

						<div class="form-group">
							<label class="col-md-4">Detailed Pick Up</label>
							<div class="col-md-8">
								<input type="text" name="input1" value="Monday - Saturday : 9AM - 11AM : 2PM - 4PM" class="form-control" />
							</div>
						</div> <!-- /.form-group -->

						<div class="form-group">
							<label class="col-md-4">Detailed Drop Off</label>
							<div class="col-md-8">
								<input type="text" name="input1" value="Monday - Saturday : 9AM - 11AM" class="form-control" />
							</div>
						</div> <!-- /.form-group -->

						<div class="form-group">
							<label class="col-md-4">Company Email</label>
							<div class="col-md-8">
								<input type="text" name="input1" value="deb@doublehydrant.com" class="form-control" />
							</div>
						</div> <!-- /.form-group -->

						<div class="form-group">

							<label class="col-md-4">
								Price Per Night
							</label>

							<div class="col-md-8">
								<div class="input-group">
								  <span class="input-group-addon">$</span>
								  <input type="text" class="form-control" value="21">
								  <span class="input-group-addon">.00</span>
								</div>
							</div>

						</div> <!-- /.form-group -->

						<div class="form-group">

							<label class="col-md-4">
								Price Per Night Two Dogs One Run
							</label>

							<div class="col-md-8">
								<div class="input-group">
								  <span class="input-group-addon">$</span>
								  <input type="text" class="form-control" value="35">
								  <span class="input-group-addon">.00</span>
								</div>
							</div>

						</div> <!-- /.form-group -->

						<div class="form-group">

							<label class="col-md-4">
								Late Fee
							</label>

							<div class="col-md-8">
								<div class="input-group">
								  <span class="input-group-addon">$</span>
								  <input type="text" class="form-control" value="7">
								  <span class="input-group-addon">.00</span>
								</div>
							</div>

						</div> <!-- /.form-group -->

						<div class="form-group">
							<label class="col-md-4">Facebook URL</label>
							<div class="col-md-8">
								<input type="text" name="input1" value="https://www.facebook.com/pages/Double-Hydrant/357471531055907" class="form-control" />
							</div>
						</div> <!-- /.form-group -->

					</form>


				</div> <!-- /.widget-content -->


      		</div> <!-- /.widget -->

      	</div> <!-- /.col-md-12 -->


      </div> <!-- /.row -->

    </div> <!-- /container -->
    
</div> <!-- /main -->