<div class="box altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<?php if($this->session->flashdata('message')) { ?>
			<div class="msg msg-ok">
				<p><?php echo $this->session->flashdata('message'); ?></p>
			</div>
		<?php } ?>
		<div class="header">
			<h3>Homepage Image Rotation</h3>
		</div>
		<div class="content">
      		<form action="/admin/addimagerotation" class="basic" method="post" enctype="multipart/form-data">
				<dl>
					<dt>
						<label>Picture</label>
					</dt>
					<dd>
						<input type="file" name="pictureLocation" title="Search for picture" style="padding-bottom: 45px;" class="file" />
					</dd>
					<dt></dt>
					<dd>
						<input type="submit" name="add_picture" class="button" value="Add Photo to Homepage Rotation!"/>
					</dd>
				</dl>
			</form>
			
			<table class="table table-striped">
				<thead>
					<th>Picture</th>
					<th>Delete</th>
				</thead>
				<tbody>
				<?php foreach($clientImageRotater->result() as $imageRotate) {
					echo "<tr>";
					echo "<td><img src='".$imageRotate->imagePath."' width='250px;'/></td><td><button class='button' href='/admin/deletepicture?id=".$imageRotate->id."'>Delete</button></td>";
					echo "</tr>";
				} ?>
				</tbody>
			</table>
		</div>
	</div>
</div>