<div class="main">

    <div class="container">

      <div class="row">
      	
      	<div class="col-md-6 col-xs-12">
      		
      		<div class="widget stacked">
					
				<div class="widget-header">
					<i class="icon-star"></i>
					<h3>Reservation Quick Stats</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
					<div class="stats">
						
						<div class="stat">
							<span class="stat-value"><?php echo $reservationsThisMonth; ?></span>									
							Reservations This Month
						</div> <!-- /stat -->
						
						<div class="stat">
							<span class="stat-value"><?php echo $reservationsThisYear; ?></span>			
							Reservations Year To Date
						</div> <!-- /stat -->
						
						<div class="stat">
							<span class="stat-value">$<?php echo $revenueThisYear; ?></span>
							Revenue YTD (USD)<br />
							Total Days: <?php echo $revenueDays; ?>
						</div> <!-- /stat -->
						
					</div> <!-- /stats -->
					
					
					<!-- <div id="chart-stats" class="stats">
						
						<div class="stat stat-chart">							
							<div id="donut-chart" class="chart-holder"></div>
						</div> 
						
						<div class="stat stat-time">									
							<span class="stat-value">00:28:13</span>
							Average Time on Site
						</div> 
						
					</div>--> <!-- /substats -->
					
				</div> <!-- /widget-content -->
					
			</div> <!-- /widget -->	
			
			
			<div class="widget widget-nopad stacked">
						
				<div class="widget-header">
					<i class="icon-list-alt"></i>
					<h3>Recent News from Jeremy Lancaster Consulting</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
					<ul class="news-items">
						<li>
							
							<div class="news-item-detail">										
								<a href="javascript:;" class="news-item-title">Coming Soon</a>
								<p class="news-item-preview">This section will contain news and updates coming from Jeremy Lancaster Consulting so you can stay up to date with whos updating your site!</p>
							</div>
							
							<div class="news-item-date">
								<span class="news-item-day"><?php echo date("d"); ?></span>
								<span class="news-item-month"><?php echo date("M"); ?></span>
							</div>
						</li>
					</ul>
					
				</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->	
					
										
			<!-- <div class="widget stacked">
				
				<div class="widget-header">
					<i class="icon-file"></i>
					<h3>Content</h3>
				</div>
				
				<div class="widget-content">
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					
					
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>					
					
				</div>
			
			</div> --><!-- /widget -->
      		
	    </div> <!-- /span6 -->
      	
      	
      	<div class="col-md-6">	
      		
      		<!--
      		<div class="widget stacked">
					
				<div class="widget-header">
					<i class="icon-bookmark"></i>
					<h3>Quick Shortcuts</h3>
				</div>
				
				<div class="widget-content">
					
					<div class="shortcuts">
						<a href="javascript:;" class="shortcut">
							<i class="shortcut-icon icon-list-alt"></i>
							<span class="shortcut-label">Apps</span>
						</a>
						
						<a href="javascript:;" class="shortcut">
							<i class="shortcut-icon icon-bookmark"></i>
							<span class="shortcut-label">Bookmarks</span>								
						</a>
						
						<a href="javascript:;" class="shortcut">
							<i class="shortcut-icon icon-signal"></i>
							<span class="shortcut-label">Reports</span>	
						</a>
						
						<a href="javascript:;" class="shortcut">
							<i class="shortcut-icon icon-comment"></i>
							<span class="shortcut-label">Comments</span>								
						</a>
						
						<a href="javascript:;" class="shortcut">
							<i class="shortcut-icon icon-user"></i>
							<span class="shortcut-label">Users</span>
						</a>
						
						<a href="javascript:;" class="shortcut">
							<i class="shortcut-icon icon-file"></i>
							<span class="shortcut-label">Notes</span>	
						</a>
						
						<a href="javascript:;" class="shortcut">
							<i class="shortcut-icon icon-picture"></i>
							<span class="shortcut-label">Photos</span>	
						</a>
						
						<a href="javascript:;" class="shortcut">
							<i class="shortcut-icon icon-tag"></i>
							<span class="shortcut-label">Tags</span>
						</a>				
					</div>
				
				</div>
				
			</div> --><!-- /widget -->
      		
      		
					
					
			<!-- <div class="widget stacked">
					
				<div class="widget-header">
					<i class="icon-signal"></i>
					<h3>Chart</h3>
				</div> 
				
				<div class="widget-content">					
					<div id="area-chart" class="chart-holder"></div>					
				</div> 
			
			</div> --><!-- /widget -->
					
					
					
					
			<div class="widget stacked widget-table action-table">
					
				<div class="widget-header">
					<i class="icon-th-list"></i>
					<h3>Reservations</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Owner Name</th>
								<th>Dog Name</th>
								<th>Dates</th>
								<th class="td-actions"></th>
							</tr>
						</thead>
						<tbody>
							<?php foreach( $reservations as $reservation ) { ?>
							<tr>
								<td><?php echo $reservation->clientName; ?></td>
								<td><?php echo $reservation->dogName; ?></td>
								<td><?php echo $reservation->dropOffDate; ?></td>
								<td class="td-actions">
									<a target="_blank" href="<?php echo str_replace('/var/sites/doublehydrant', '', $reservation->pdfLink); ?>" class="btn btn-xs btn-primary">
										<i class="btn-icon-only icon-ok"></i><br />
										View Reservation
									</a>
								</td>
							</tr>
							<?php } ?>
							</tbody>
						</table>
					
				</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->
								
	      </div> <!-- /span6 -->
      	
      </div> <!-- /row -->

    </div> <!-- /container -->
    
</div> <!-- /main -->

