<div class="main">

    <div class="container">

      <div class="row">
      	
      	<div class="col-md-6 col-xs-12">
      		
      		<div class="widget stacked">
					
				<div class="widget-header">
					<i class="icon-star"></i>
					<h3>Reservation Quick Stats</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
					<div class="stats">
						
						<div class="stat">
							<span class="stat-value"><?php echo $reservationsThisMonth; ?></span>									
							Reservations This Month
						</div> <!-- /stat -->
						
						<div class="stat">
							<span class="stat-value"><?php echo $reservationsThisYear; ?></span>			
							Reservations Year To Date
						</div> <!-- /stat -->
						
						<div class="stat">
							<span class="stat-value">$<?php echo $revenueThisYear; ?></span>
							Revenue YTD (USD)<br />
							Total Days: <?php echo $revenueDays; ?>
						</div> <!-- /stat -->
						
					</div> <!-- /stats -->
					
					
					<!-- <div id="chart-stats" class="stats">
						
						<div class="stat stat-chart">							
							<div id="donut-chart" class="chart-holder"></div>
						</div> 
						
						<div class="stat stat-time">									
							<span class="stat-value">00:28:13</span>
							Average Time on Site
						</div> 
						
					</div>--> <!-- /substats -->
					
				</div> <!-- /widget-content -->
					
			</div> <!-- /widget -->	
			
			
			<div class="widget widget-nopad stacked">
						
				<div class="widget-header">
					<i class="icon-list-alt"></i>
					<h3>Reservation Calendar</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">

					<script type='text/javascript'>

				      $(document).ready(function() {
				        $('#calendar').fullCalendar({
				          header: {
				            left: 'prev,next today',
				            center: 'title',
				            right: 'month,agendaWeek,agendaDay'				            
				          },
				          editable: true,
				          events: [
				          <?php 
				          	
				          	foreach($reservations as $reservation) {				          		
				          		echo "
					            {
					              title: '".$reservation->dogName." - Drop Off',
					              start: new Date('".$reservation->dropOffDate."'),
					              url: '/admin/viewreservation.html?id=".$reservation->id."'
					            },";
				        	}
				        	$i = 0;
				          	foreach($reservations as $reservation) {
				          		echo "
					            {
					              title: '".$reservation->dogName." - Pick Up',
					              start: new Date('".$reservation->pickUpDate."'),
					              url: '/admin/viewreservation.html?id=".$reservation->id."'
					            }";
					            $i++;
					            if(count($reservations) > $i) {
					            	echo ",";
					            }
				        	}
				          ?>
				          ]
				        });
				        
				      });

				      </script>
					
					<div id="calendar" style='margin:1em 1em;font-size:13px'></div>
					
				</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->	
					
										
			<div class="widget stacked">
				
				<div class="widget-header">
					<i class="icon-file"></i>
					<h3>Personal Message from Jeremy Lancaster, Owner of KennelKonnect</h3>
				</div>
				
				<div class="widget-content">
					
					<p>Thank you for signing up and giving us the chance to earn your business! We are sure you are going to love the experience that KennelKonnect is, if you have any suggestions or feedback please feel free to contact me personally at <a href="mailto:j.lancaster@kennelkonnect.com">j.lancaster@kennelkonnect.com</a></p>

					<p><B>THANK YOU AGAIN!</b></p>
					<p>Jeremy Lancaster</p>
					
				</div>
			
			</div><!-- /widget -->
      		
	    </div> <!-- /span6 -->
      	
      	
      	<div class="col-md-6">	
      		
      		<div class="widget stacked">
					
				<div class="widget-header">
					<i class="icon-bookmark"></i>
					<h3>Quick Shortcuts</h3>
				</div>
				
				<div class="widget-content">
					
					<div class="shortcuts">
						<a href="/admin/revenuereports.html" class="shortcut">
							<i class="shortcut-icon icon-signal"></i>
							<span class="shortcut-label">Rev. Report</span>	
						</a>
						
						<a href="javascript:;" onclick="alert('This has been disabled for the demo!');" class="shortcut">
							<i class="shortcut-icon icon-comment"></i>
							<span class="shortcut-label">Community</span>								
						</a>
						
						<a href="/admin/ownerlookup.html" class="shortcut">
							<i class="shortcut-icon icon-user"></i>
							<span class="shortcut-label">Clients</span>
						</a>

						<a href="/admin/kennelkam.html" class="shortcut">
							<i class="shortcut-icon icon-camera"></i>
							<span class="shortcut-label">KennelKam</span>
						</a>
												
						<!-- <a href="javascript:;" class="shortcut">
							<i class="shortcut-icon icon-file"></i>
							<span class="shortcut-label">eBooks</span>	
						</a> -->
					</div>
				
				</div>
				
			</div><!-- /widget -->
      		
      		
					
					
			<div class="widget stacked">
					
				<div class="widget-header">
					<i class="icon-signal"></i>
					<h3>Visual Kennel Manager</h3>
				</div> 
				
				<div class="widget-content">
					<center><b>Use the table below to see how full, or empty, your kennel is today!</b></center><br>
					<style>
					td {
						text-align:center; 
	    				vertical-align:middle;
    				}
    				</style>
					<!-- <div id="area-chart" class="chart-holder"></div> -->
					<p style='float: left;'><img src='/img/green-check.png'> - has a dog or dogs in it!</p><p style='float: right;'><img src='/img/red-x.png'> - does not have a dog or dogs in it!</p><br />
					<table width="100%" border="1">
						<?php
							$numberOfRuns = $clientConfig['number_of_runs'];
							list($total, $remainder) = explode(".", $number);
						?>
						<tr>
							<?php 
							$d=0;
							$setBreak = false;
							$remainingRuns = $numberOfReservationsToday;
							for($i=0; $i<$numberOfRuns; $i++) {
								if($d == 10) {
									echo "</tr><tr>";
									$d = 0;
								}
								if($remainingRuns == 0) {
									echo "<td id='$i' style='height: 120px;'><img src='/img/red-x.png'></td>";
								} else {
									echo "<td id='$i' style='height: 120px;'><img src='/img/green-check.png'></td>";
									$remainingRuns--;
								}
								
								$d++;
							}
							?>
						</tr>
					</table>
					<p style="font-weight: bold; float: right;">Current Kennel Efficiency: <?php echo ($numberOfReservationsToday/$numberOfRuns)*100; ?>%</p>
				</div> 
			
			</div> <!-- /widget -->
					
					
					
					
			<div class="widget stacked widget-table action-table">
					
				<div class="widget-header">
					<i class="icon-th-list"></i>
					<h3>Reservations</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Owner Name</th>
								<th>Dog Name</th>
								<th>Dates</th>
								<th class="td-actions"></th>
							</tr>
						</thead>
						<tbody>
							<?php foreach( $reservations as $reservation ) { ?>
							<tr>
								<td><?php echo $reservation->clientName; ?></td>
								<td><?php echo $reservation->dogName; ?></td>
								<td><?php echo $reservation->dropOffDate; ?></td>
								<td class="td-actions">
									<a href="/admin/viewreservation.html?id=<?php echo $reservation->id; ?>" class="btn btn-xs btn-primary">
										<i class="btn-icon-only icon-ok"></i><br />
										View Reservation
									</a>
								</td>
							</tr>
							<?php } ?>
							</tbody>
						</table>
					
				</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->
								
	      </div> <!-- /span6 -->
      	
      </div> <!-- /row -->

    </div> <!-- /container -->
    
</div> <!-- /main -->

