<div class="box altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3>Todays Drop Offs</h3>
			<a class="button" href="#">enter new&nbsp;»</a><!-- Action button in the header of the box -->
		</div>
		<div class="content">
			<table cellspacing="0">
				<tbody>
					<thead>
						<tr>
							<th>Client Name</th>
							<td class="tc">Dog Name</td>
							<td class="tc">Drop Off Date</td>
							<td class="tc">Pick Up Date</td>
							<!-- <td>Additional Services</td> -->
							<td>Actions</td>
						</tr>
					</thead>
					<!-- List out all reservations for today -->
					<?php
						foreach($todaysDropoffs as $reservation) {
							echo '<tr>';
							echo '<th>'.$reservation->clientName.'</th>';
							echo '<td>'.$reservation->dogName.'</td>';
							echo '<td>'.$reservation->dropOffDate.'</td>';
							echo '<td>'.$reservation->pickUpDate.'</td>';
							//echo '<td>'.$reservation->additionalServices.'</td>';
							echo '<td><a href="/admin/viewreservation?id='.$reservation->id.'"><button class="button">View</button></a><br><br><a href="/admin/printinvoice?id='.$reservation->id.'"><button class="button">Print Invoice</button></a></td>';
							echo '</tr>';
						}
					?>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="box altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3>Todays Pick Ups</h3>
			<a class="button" href="#">enter new&nbsp;»</a><!-- Action button in the header of the box -->
		</div>
		<div class="content">
			<table cellspacing="0">
				<tbody>
					<thead>
						<tr>
							<th>Client Name</th>
							<td class="tc">Dog Name</td>
							<td class="tc">Drop Off Date</td>
							<td class="tc">Pick Up Date</td>
							<!-- <td>Additional Services</td> -->
							<td>Actions</td>
						</tr>
					</thead>
					<!-- List out all reservations for today -->
					<?php
						foreach($todaysPickups as $reservation) {
							echo '<tr>';
							echo '<th>'.$reservation->clientName.'</th>';
							echo '<td>'.$reservation->dogName.'</td>';
							echo '<td>'.$reservation->dropOffDate.'</td>';
							echo '<td>'.$reservation->pickUpDate.'</td>';
							//echo '<td>'.$reservation->additionalServices.'</td>';
							echo '<td><a href="/admin/viewreservation?id='.$reservation->id.'"><button class="button">View</button></a><br><br><a href="/admin/printinvoice?id='.$reservation->id.'"><button class="button">Print Invoice</button></a></td>';
							echo '</tr>';
						}
					?>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="box altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3>Visual Kennel Manager</h3>
		</div>
		<div class="content">
			<center><b>Use the table below to see how full, or empty, your kennel is today!</b></center><br>
			<style>
			td {
				text-align:center; 
				vertical-align:middle;
			}
			</style>
			<!-- <div id="area-chart" class="chart-holder"></div> -->
			<p style='float: left;margin-left: 10px;'><img src='/img/green-check.png'> - has a dog or dogs in it!</p><p style='float: right;margin-right: 10px'><img src='/img/red-x.png'> - does not have a dog or dogs in it!</p><br />
			<p style="font-weight: bold; float: right; margin-bottom: 10px; margin-right: 10px">Current Kennel Efficiency: <?php echo ($numberOfReservationsToday/$clientConfig['number_of_runs'])*100; ?>%</p>
			<table width="100%" border="1">
				<?php
					$numberOfRuns = $clientConfig['number_of_runs'];
				?>
				<tr>
					<?php 
					$d=0;
					$setBreak = false;
					$remainingRuns = $numberOfReservationsToday;
					for($i=0; $i<$numberOfRuns; $i++) {
						if($d == 10) {
							echo "</tr><tr>";
							$d = 0;
						}
						if($remainingRuns == 0) {
							echo "<td id='$i' style='height: 120px;'><img src='/img/red-x.png'></td>";
						} else {
							echo "<td id='$i' style='height: 120px;'><img src='/img/green-check.png'></td>";
							$remainingRuns--;
						}
						
						$d++;
					}
					?>
				</tr>
			</table>
		</div> 
	</div>
</div>
<!-- Want to fill this in with reservation drop offs and pick ups -->
<!--<div class="box box-100">
	<div class="boxin">
		<div class="header">
			<h3>Calendar with events</h3>
		</div>
		<div class="content">
			<table class="calendar" cellspacing="0">
				<thead>
					<tr>
						<th class="tc month" colspan="7">
							<a href="#" title="Go to October 2009"><img src="/css/img/cal-left.png" alt="Go to October 2009" /></a>
							December 2009
							<a href="#" title="Go to January 2010"><img src="/css/img/cal-right.png" alt="Go to January 2010" /></a>
						</th>
					</tr>
					<tr>
						<th class="tc">Monday</th>
						<th class="tc">Tuesday</th>
						<th class="tc">Wednesday</th>
						<th class="tc">Thursday</th>
						<th class="tc">Friday</th>
						<th class="tc">Saturday</th>
						<th class="tc">Sunday</th>
					</tr>
				</thead>
				<tbody>
					<tr class="first">
						<td class="inactive"><strong>28</strong></td>
						<td class="inactive"><strong>29</strong></td>
						<td class="inactive">
							<strong>30</strong>
							<div class="items">
								<a href="#" title="Your due item"><img src="/css/img/cal-due.png" alt="Your due item" /></a>
								<a href="#" title="Your due item"><img src="/css/img/cal-due.png" alt="Your due item" /></a>
								<a href="#" title="Your due item"><img src="/css/img/cal-due.png" alt="Your due item" /></a>
							</div>
						</td>
						<td><strong>1</strong></td>
						<td>
							<strong>2</strong>
							<div class="items">
								<a href="#" title="Your item"><img src="/css/img/cal-item.png" alt="Your item" /></a>
								<a href="#" title="Your item"><img src="/css/img/cal-item.png" alt="Your item" /></a>
							</div>
						</td>
						<td><strong>3</strong></td>
						<td>
							<strong>4</strong>
							<div class="items">
								<a href="#" title="Your item"><img src="/css/img/cal-item.png" alt="Your item" /></a>
								<a href="#" title="Your item"><img src="/css/img/cal-item.png" alt="Your item" /></a>
								<a href="#" title="Your item"><img src="/css/img/cal-item.png" alt="Your item" /></a>
							</div>
						</td>
					</tr>
					<tr>
						<td><strong>5</strong></td>
						<td>
							<strong>6</strong>
							<div class="items">
								<a href="#" title="Your item"><img src="/css/img/cal-item.png" alt="Your item" /></a>
								<a href="#" title="Your item"><img src="/css/img/cal-item.png" alt="Your item" /></a>
							</div>
						</td>
						<td><strong>7</strong></td>
						<td><strong>8</strong></td>
						<td><strong>9</strong></td>
						<td><strong>10</strong></td>
						<td><strong>11</strong></td>
					</tr>
					<tr>
						<td><strong>12</strong></td>
						<td><strong>13</strong></td>
						<td><strong>14</strong></td>
						<td><strong>15</strong></td>
						<td><strong>16</strong></td>
						<td><strong>17</strong></td>
						<td><strong>18</strong></td>
					</tr>
					<tr>
						<td><strong>19</strong></td>
						<td><strong>20</strong></td>
						<td><strong>21</strong></td>
						<td><strong>22</strong></td>
						<td><strong>23</strong></td>
						<td><strong>24</strong></td>
						<td><strong>25</strong></td>
					</tr>
					<tr>
						<td><strong>26</strong></td>
						<td><strong>27</strong></td>
						<td><strong>28</strong></td>
						<td><strong>29</strong></td>
						<td><strong>30</strong></td>
						<td><strong>31</strong></td>
						<td class="inactive"><strong>1</strong></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>-->

			
			

